<p>Hello</p>
<div class="row">
	<div class = "col-md-12">
{{#each articles}}
		<div class = "panel panel-default" id="articles-area">
			<div class="panel-heading">
				<h3>{{this.title}}<h3>
				<form action="/{{this.id}}?_method=PUT" method="POST">
				<button type="submit" class="btn btn-primary save">SAVE</button>
				</form>
			</div>
			<div class="panel-body">
				 {{this.link}}
			</div>
		</div>
	</div>
</div>
{{/each}}